@import "tailwindcss";

@theme {
  --color-primary: var(--color-red-500);
  /* #B6362B; */
  --color-secondary: var(--color-blue-500); 
  /* #2982AC; */
  --default-font-family: Syne, sans-serif
}

@utility text-upright {
  writing-mode: vertical-lr;
  text-orientation: upright;
  text-align: center;
  vertical-align: middle;
}

@utility filter-grainy {
  filter: url('data:image/svg+xml,\
    <svg xmlns="http://www.w3.org/2000/svg">\
    <filter id="vintageGrain">\
      <feTurbulence type="fractalNoise" baseFrequency="10.65" numOctaves="3" stitchTiles="stitch" result="turbulence"/>\
      <feDisplacementMap in2="turbulence" in="SourceGraphic" scale="1" />\
    </filter>\
</svg>#vintageGrain');
}

